name: Generate Snake

on:
  # Roda automaticamente a cada 24 horas (meia-noite)
  schedule:
    - cron: "0 0 * * *" 
  
  # Permite rodar manualmente na aba Actions para testar
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Generate Snake
        uses: Platane/snk@v3
        with:
          # Nome do seu usuário
          github_user_name: CarlosDev0410
          # Onde a imagem será salva
          outputs: |
            dist/github-contribution-grid-snake.svg
            dist/github-contribution-grid-snake-dark.svg?palette=github-dark

      - name: Push to the output branch
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
